# A Modern Guide to Getting Started with Data Science and Python

By Thomas Wiecki PhD, Director of Data Science - Quantopian | 12/06/2016

URL: https://www.opendatascience.com/blog/a-modern-guide-to-getting-started-with-data-science-and-python/

## Pandadas

In [2]:
import pandas as pd

df = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : pd.Series([1, 2, 1, 2], dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo' })

In [4]:
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  1   test  foo
1  1.0 2013-01-02  1.0  2  train  foo
2  1.0 2013-01-02  1.0  1   test  foo
3  1.0 2013-01-02  1.0  2  train  foo

In [5]:
df.B

0   2013-01-02
1   2013-01-02
2   2013-01-02
3   2013-01-02
Name: B, dtype: datetime64[ns]

## Seaborn

- installation: conda install seaborn

In [2]:
%matplotlib inline # IPython magic to create plots within cells

UsageError: unrecognized arguments: # IPython magic to create plots within cells

In [10]:
import seaborn as sns

# Load one of the data sets that come with seaborn
tips = sns.load_dataset("tips")

sns.jointplot("total_bill", "tip", tips, kind='reg');

C:\Program Files\CAE\Anaconda3\lib\site-packages\statsmodels\nonparametric\kdetools.py:20: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  y = X[:m/2+1] + np.r_[0,X[m/2+1:],0]*1j

### Works well with Pandas DataFrame

In [6]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
sns.lmplot("total_bill", "tip", tips, col="smoker");