---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [2]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [156]:
def date_sorter():
    import re
    
    df_dates = pd.DataFrame([])

    # Your code here
    pat1 = re.compile(r"((?P<mon>(?:[0-9]|[0-1][0-9]))[\/-](?P<day>(?:[1-9]|0[1-9]|1[0-9]|2[0-9]|3[0-1]))[\/-](?P<year>(?:(?:(?:19|20)[0-9][0-9]|[0-9][0-9]))))")
    pat2 = re.compile(r"((?P<day>(?:[1-9]|0[1-9]|1[0-9]|2[0-9]|3[0-1])) (?P<mon>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z|\s|.|,]+(?P<year>(?:(?:(?:19|20)[0-9][0-9]|[0-9][0-9]))))")
    pat3 = re.compile(r"((?P<mon>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z-\s.,]+(?P<day>(?:[1-9]|0[1-9]|1[0-9]|2[0-9]|3[0-1]))[,|.|\s|t|h|n|d|s|t|-]+(?P<year>(?:(?:(?:19|20)[0-9][0-9]|[0-9][0-9]))))")
    pat4 = re.compile(r"((?P<mon>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z|\s|.|,]+(?P<year>(?:(?:19|20)[0-9][0-9])))")
    pat5 = re.compile(r"((?P<mon>(?:[1-9]|[0-1][0-9]))[\/](?P<year>(?:(?:19|20)[0-9][0-9])))")
    pat6 = re.compile(r"((?P<year>(?:(?:19|20)[0-9][0-9])))")
    
    df_dates1 = df.str.extractall(pat1)
    df_dates2 = df.str.extractall(pat2)
    df_dates = pd.concat([df_dates1, df_dates2])
    
    df_dates3 = df.str.extractall(pat3)
    df_dates = pd.concat([df_dates, df_dates3])
    
    df_dates4 = df.str.extractall(pat4)
    df_dates4['day'] = '1'
    df_dates = pd.concat([df_dates, df_dates4])
    df_dates = df_dates[~df_dates.index.duplicated(keep='first')]
    
    df_dates5 = df.str.extractall(pat5)
    df_dates5['day'] = '1'
    df_dates = pd.concat([df_dates, df_dates5])
    df_dates = df_dates[~df_dates.index.duplicated(keep='first')]
    
    df_dates6 = df.str.extractall(pat6)
    df_dates6['day'] = '1'
    df_dates6['mon'] = '1'
    df_dates = pd.concat([df_dates, df_dates6])
    df_dates = df_dates[~df_dates.index.duplicated(keep='first')]
    
    df_dates['day'] = df_dates.day.astype(int)

    import calendar
    abbr_to_num = {name: num for num, name in enumerate(calendar.month_abbr) if num}
    
    df_dates['mon'] = df_dates['mon'].apply(lambda x: abbr_to_num[x] if x in list(calendar.month_abbr) else int(x))
    df_dates['year'] = df_dates.year.astype(int)
    df_dates['year'] = df_dates.year.apply(lambda x: x + 1900 if x < 100 else x)
    
#     df_dates['date'] = 
        
    return df_dates # Your answer here

df_dates = date_sorter()

df_dates

                    0  mon  day  year
    match
0   0        03/25/93    3   25  1993
1   0         6/18/85    6   18  1985
2   0          7/8/71    7    8  1971
3   0         9/27/75    9   27  1975
4   0          2/6/96    2    6  1996
5   0         7/06/79    7    6  1979
6   0         5/18/78    5   18  1978
7   0        10/24/89   10   24  1989
8   0          3/7/86    3    7  1986
9   0         4/10/71    4   10  1971
10  0         5/11/85    5   11  1985
11  0         4/09/75    4    9  1975
12  0         8/01/98    8    1  1998
13  0         1/26/72    1   26  1972
14  0       5/24/1990    5   24  1990
15  0       1/25/2011    1   25  2011
16  0         4/12/82    4   12  1982
17  0      10/13/1976   10   13  1976
18  0         4/24/98    4   24  1998
19  0         5/21/77    5   21  1977
20  0         7/21/98    7   21  1998
21  0        10/21/79   10   21  1979
22  0         3/03/90    3    3  1990
23  0         2/11/76    2   11  1976
24  0      07/25/1984    7   25  1984
25  0         4-13-82    4   13  1982
26  0         9/22/89    9   22  1989
27  0         9/02/76    9    2  1976
28  0         9/12/71    9   12  1971
29  0        10/24/86   10   24  1986
...               ...  ...  ...   ...
470 0            1983    1    1  1983
471 0            1999    1    1  1999
472 0            2010    1    1  2010
473 0            1975    1    1  1975
474 0            1972    1    1  1972
475 0            2015    1    1  2015
476 0            1989    1    1  1989
477 0            1994    1    1  1994
478 0            1993    1    1  1993
479 0            1996    1    1  1996
480 0            2013    1    1  2013
481 0            1974    1    1  1974
482 0            1990    1    1  1990
483 0            1995    1    1  1995
484 0            2004    1    1  2004
485 0            1987    1    1  1987
486 0            1973    1    1  1973
487 0            1992    1    1  1992
488 0            1977    1    1  1977
489 0            1985    1    1  1985
490 0            2007    1    1  2007
491 0            2009    1    1  2009
492 0            1986    1    1  1986
493 0            1978    1    1  1978
494 0            2002    1    1  2002
495 0            1979    1    1  1979
496 0            2006    1    1  2006
497 0            2008    1    1  2008
498 0            2005    1    1  2005
499 0            1980    1    1  1980

[500 rows x 4 columns]