---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [2]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [12]:
def date_sorter():
    import re
    
    df_lst = df.str.split()

    # Your code here
    pat1 = re.compile(r"((?P<mon>(?:[0-9]|[0-1][0-9]))[\/-](?P<date>(?:[0-9]|[0-3][0-9]))[\/-](?P<year>(?:(?:(?:19|20)[0-9][0-9]|[0-9][0-9]))))")
    pat2 = re.compile(r"((?P<date>\d{1,2}) (?P<mon>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z|\s|.|,]+(?P<year>(?:(?:(?:19|20)[0-9][0-9]|[0-9][0-9]))))")
    pat3 = re.compile(r"((?P<mon>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z-\s.,]+(?P<date>(?:[1-9]|[0-3][0-9]))[,|.|\s|t|h|n|d|s|t|-]+(?P<year>(?:(?:(?:19|20)[0-9][0-9]|[0-9][0-9]))))")
    pat4 = re.compile(r"((?P<mon>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z|\s|.|,]+(?P<year>(?:(?:19|20)[0-9][0-9])))")

    df_dates1 = df.str.extractall(pat1)
    df_dates2 = df.str.extractall(pat2)
    df_dates3 = df.str.extractall(pat3)
    df_dates4 = df.str.extractall(pat4)
    
    return df_dates4 # Your answer here

date_sorter()

                        0  mon  year
    match
125 0            Jan 2001  Jan  2001
126 0            Sep 2004  Sep  2004
127 0            May 1982  May  1982
128 0           June 2002  Jun  2002
129 0            May 1972  May  1972
130 0            Oct 1987  Oct  1987
131 0            Oct 1996  Oct  1996
132 0            Nov 2007  Nov  2007
133 0           June 1994  Jun  1994
134 0            Jan 1981  Jan  1981
135 0            Oct 1985  Oct  1985
136 0       February 1985  Feb  1985
137 0            Feb 1983  Feb  1983
138 0            Feb 1992  Feb  1992
139 0            Oct 2012  Oct  2012
140 0            Feb 1995  Feb  1995
141 0            May 2016  May  2016
142 0            Jan 1996  Jan  1996
143 0            Oct 1992  Oct  1992
144 0            Oct 2003  Oct  2003
145 0            Oct 1999  Oct  1999
146 0            Nov 2004  Nov  2004
147 0            May 2001  May  2001
148 0            Feb 1978  Feb  1978
149 0            Sep 1989  Sep  1989
150 0          March 1980  Mar  1980
151 0           June 1990  Jun  1990
152 0            Sep 2015  Sep  2015
153 0            Jan 1972  Jan  1972
154 0            Mar 1974  Mar  1974
...                   ...  ...   ...
313 0      Decemeber 1978  Dec  1978
314 0        January 2007  Jan  2007
315 0            Jun 1976  Jun  1976
316 0            May 2011  May  2011
317 0           Mar, 1975  Mar  1975
318 0            Jan 1978  Jan  1978
319 0           July 1975  Jul  1975
320 0       November 2012  Nov  2012
321 0          June, 1999  Jun  1999
322 0        October 1991  Oct  1991
323 0          March 1973  Mar  1973
324 0        October 1996  Oct  1996
325 0            Jun 2007  Jun  2007
326 0        October 1995  Oct  1995
327 0          April 1999  Apr  1999
328 0           May, 2001  May  2001
329 0         March, 2000  Mar  2000
330 0          April 1988  Apr  1988
331 0       December 1993  Dec  1993
332 0           June 1974  Jun  1974
333 0       November 1997  Nov  1997
334 0           July 1986  Jul  1986
335 0       February 1973  Feb  1973
336 0          March 1978  Mar  1978
337 0            Dec 2007  Dec  2007
338 0           Apr, 1998  Apr  1998
339 0         March, 2005  Mar  2005
340 0            May 1980  May  1980
341 0            Nov 2007  Nov  2007
342 0          March 1976  Mar  1976

[184 rows x 3 columns]