---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [14]:
def date_sorter():
    import re
    
    df_dates = pd.DataFrame()
    # Your code here
    pat1 = re.compile(r"((?P<date>\d{1,2})[\/-](?P<mon>\d{1,2})[\/-](?P<year>\d{2,4}))")
    pat2 = re.compile(r"((?P<mon>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z-\s.,]+(?P<date>\d{2})[,|.|\s|t|h|n|d|s|t|-]+(?P<year>\d{2,4}))")
    df_dates = df.str.extractall(pat1)
    df_dates = df.str.extractall(pat2)
    
    return df_dates # Your answer here

date_sorter()

                             0  mon date  year
    match
194 0           April 11, 1990  Apr   11  1990
195 0             May 30, 2001  May   30  2001
196 0             Feb 18, 1994  Feb   18  1994
197 0        February 18, 1981  Feb   18  1981
198 0        October. 11, 2013  Oct   11  2013
199 0              Jan 24 1986  Jan   24  1986
200 0            July 26, 1978  Jul   26  1978
201 0        December 23, 1999  Dec   23  1999
202 0             May 15, 1989  May   15  1989
203 0       September 06, 1995  Sep   06  1995
204 0            Mar. 10, 1976  Mar   10  1976
205 0             Jan 27, 1983  Jan   27  1983
206 0          October 23 1990  Oct   23  1990
207 0           August 12 2004  Aug   12  2004
208 0       September 01, 2012  Sep   01  2012
209 0            July 25, 1983  Jul   25  1983
210 0          August 11, 1989  Aug   11  1989
211 0           April 17, 1992  Apr   17  1992
212 0            July 24, 1999  Jul   24  1999
213 0            July 11, 1997  Jul   11  1997
214 0            Sep. 10, 1974  Sep   10  1974
215 0          August 14, 1981  Aug   14  1981
216 0             Nov 11, 1988  Nov   11  1988
217 0            June 13, 2011  Jun   13  2011
218 0             May 14, 1989  May   14  1989
219 0              Dec 14 1975  Dec   14  1975
220 0            June 25, 2012  Jun   25  2012
221 0             Oct 18, 1980  Oct   18  1980
222 0             May 15, 1998  May   15  1998
223 0          October 14 1974  Oct   14  1974
224 0            July 25, 1998  Jul   25  1998
225 0            June 15, 1972  Jun   15  1972
226 0         January 07, 1991  Jan   07  1991
227 0      September. 15, 2011  Sep   15  2011