---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [76]:
import numpy as np
import pandas as pd
import re


def energy():
  
  return energy

def load_energy():
    """
    1. energy = read "Energy Indicators.xls" 
    # note that column C has the country names 
    # with footnote numbers while column B has no footnotes
    2. if you read the C column in 1 then remove any digits in the country column
    3. replace all entries with the value '...' with np.NaN in the energy dataframe
    4. convert 'Energy Supply' column values to giga-jouls
    dicts = {"Republic of Korea": "South Korea",
               "United States of America": "United States",
               "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
               "China, Hong Kong Special Administrative Region": "Hong Kong"}
    5. replace each country in dicts's keys with the corresponding dicts value

    6. remove the part after ' (' form all countries that have paranthesis, *****make sure the result has no trailing whitespace*******

    
    
    energy DF - Energy Indicators.xls
    1. drop first 2 columns & rename column labels w/ ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    2. Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule)
    3. missing data (e.g. data with "...") make sure this is reflected as np.NaN values
    4. Rename countries:
       "Republic of Korea": "South Korea",
       "United States of America": "United States",
       "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
       "China, Hong Kong Special Administrative Region": "Hong Kong"
    5. Remove numbers and/or parenthesis from country names
    """
    # load energy DF
    df = pd.read_excel("./Energy Indicators.xls", skiprows=17)
    
    # after checking the column B, find index w/ content 'Sources:' and remove all rows it anf after
    src_idx = df.index[df['Unnamed: 1'] == 'Sources:'][0]
    df.drop([row_idx for row_idx in range(src_idx - 2, df.shape[0])], inplace=True)

    # drop first 2 column
    df.drop(df.columns[[0, 1]], axis=1, inplace=True)
    
    # replace '...' w/ np.NaN
    df.replace("...", np.NaN, inplace=True)

    # rename column labels
    col_lbl = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    df.columns = col_lbl
    
#     # drop rows for 'Country' is NaN
#     df = df[df['Country'].notnull()]

    # Convert Energy Supply to gigajoules
    df['Energy Supply'] *= 1.0e6
    df['Energy Supply per Capita'] = df['Energy Supply per Capita'].astype(np.float64)
    df['Energy Supply'] = df['Energy Supply'].astype(np.float64)
    df['% Renewable'] = df['% Renewable'].astype(np.float64)

    # remove numbers and/or parenthesis from country names
    countries_lst = list(df['Country'])
    num = re.compile("[0-9]")
    parenth = re.compile("\s(\(.+\))")
    sub_countries = {"Republic of Korea": "South Korea", "United States of America": "United States",
                     "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                     "China, Hong Kong Special Administrative Region": "Hong Kong",
                     'China, Macao Special Administrative Region': 'Macao',
                     'Data exclude Hong Kong and Macao Special Administrative Regions  and Taiwan Province.': 'Taiwan'#,
#                      'Iran ': 'Iran'
                    }
    countries = []
    for country in countries_lst:
        country = num.sub('', country)
        country = parenth.sub('', country)
        cpuntry = country.strip()
        if country in sub_countries.keys():
            country = sub_countries[country]
        countries.append(country)

    df['Country'] = countries
    
    return df


def load_gdp():
    """
    def gdp():

      1.GDP =  read 'world_bank.csv'
      2. replace each country in dicts's keys with the corresponding dicts value
              dicts = {"Korea, Rep.": "South Korea", 
                   "Iran, Islamic Rep.": "Iran",
                   "Hong Kong SAR, China": "Hong Kong"}
      3. change column name "Country Name" to "Country"
      4. keep only the column ['Country', '2006', '2007', '2008','2009','2010', '2011','2012','2013','2014','2015']

      return GDP
    """

    df = pd.read_csv('world_bank.csv', skiprows = 4)
    sub_countries = {"Korea, Rep.": "South Korea",
                     "Iran, Islamic Rep.": "Iran",
                     "Hong Kong SAR, China": "Hong Kong"
                    }
    
    # replace country name
    df['Country Name'] = df['Country Name'].apply(
        lambda country: sub_countries[country] if country in sub_countries.keys() else country)
    
    # keep only the required columns
    cols_lbl = ['Country Name', '2006', '2007', '2008','2009','2010', '2011','2012','2013','2014','2015']
    
    df = df[cols_lbl]
    
    # rename 'Country Name' to 'Country'
    col_names = list(df.columns)
    col_names[0] = 'Country'
    df.columns = col_names

    return df#.set_index(df['Country'])

def load_scimen():
    """
    def scimen()

      1. ScimEn= read 'scimagojr-3.xlsx'

      return ScimEn
    """
    return pd.read_excel('scimagojr-3.xlsx')

def join_tbls(energy, GDP, ScimEn):
    """
    def answer_one():
        #call the function
        energy, GDP, ScimEn = energy(),gdp(),scimen()
        tdf = inner merge GDP and energy on 'Country'
        tdf = inner merge tdf and ScimEn on 'Country'
        res = get the records in tdf where the column Rank value is less or equal 15 (boolean masking)
        return res
    """   
    join_df = pd.merge(ScimEn, pd.merge(energy, GDP, left_on="Country", right_on="Country"), 
                       left_on='Country', right_on='Country'
                      )
             '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

    # Using Country name as index
    join_df = join_df.set_index('Country')

    
    return join_df

def top15():

    energy = load_energy()
    GDP = load_gdp()
    ScimEn = load_scimen()
    
    join_df = join_tbls(energy, GDP, ScimEn)
    
    top15_df = join_df.loc[join_df['Rank'] <= 15]
    
    return top15_df

def answer_one():
    energy = load_energy()
    GDP = load_gdp()
    ScimEn = load_scimen()
    join_df = join_tbls(energy, GDP, ScimEn)
    
    top15_df = join_df.loc[join_df['Rank'] <= 15]
    
#     return top15_df
    return join_df
#     return ScimEn
#     return GDP
#     return energy

# type(answer_one())
answer_one()#.info()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Turkey,17,5879,5827,91857,23165,15.62,104,4.897000e+09,64.0,28.536690,6.680034e+11,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11
Norway,18,5675,5634,32693,6024,5.76,74,1.388000e+09,273.0,97.635580,4.190512e+11,4.313284e+11,4.329860e+11,4.259607e+11,4.285247e+11,4.326762e+11,4.445694e+11,4.490094e+11,4.589539e+11,4.662883e+11
Netherlands,19,5170,5105,48351,6067,9.35,85,3.199000e+09,190.0,6.324659,8.127830e+11,8.428435e+11,8.571640e+11,8.248696e+11,8.364397e+11,8.503550e+11,8.413664e+11,8.371985e+11,8.456636e+11,8.624973e+11
Sweden,20,4565,4494,57889,9632,12.68,95,2.044000e+09,212.0,46.598460,4.726099e+11,4.887020e+11,4.859797e+11,4.607834e+11,4.883793e+11,5.013917e+11,4.999562e+11,5.061616e+11,5.176362e+11,5.388264e+11
Malaysia,21,3914,3881,25545,6597,6.53,62,3.417000e+09,116.0,7.754589,2.163030e+11,2.299275e+11,2.410371e+11,2.373885e+11,2.550169e+11,2.685170e+11,2.832141e+11,2.965633e+11,3.143352e+11,3.299022e+11
Switzerland,22,3636,3599,38962,6186,10.72,81,1.113000e+09,136.0,57.745480,5.415550e+11,5.639773e+11,5.768204e+11,5.645363e+11,5.812117e+11,5.917000e+11,5.983544e+11,6.089383e+11,6.204440e+11,6.260878e+11
Denmark,23,3531,3494,37254,6191,10.55,85,7.250000e+08,129.0,33.537660,3.312336e+11,3.339644e+11,3.315667e+11,3.146968e+11,3.198110e+11,3.234957e+11,3.232585e+11,3.224704e+11,3.265397e+11,3.303882e+11
Mexico,24,3249,3214,21524,4145,6.62,57,7.944000e+09,64.0,12.913400,1.002729e+12,1.034857e+12,1.049348e+12,1.000025e+12,1.051129e+12,1.093643e+12,1.137587e+12,1.152892e+12,1.178836e+12,1.208859e+12
Poland,25,3123,3102,24852,5395,7.96,55,4.121000e+09,107.0,5.537899,4.041913e+11,4.332999e+11,4.502869e+11,4.621483e+11,4.792425e+11,5.032454e+11,5.111047e+11,5.175686e+11,5.345580e+11,5.540679e+11
Saudi Arabia,26,2979,2930,21208,2469,7.12,61,7.985000e+09,264.0,0.000352,4.297019e+11,4.554509e+11,4.938325e+11,5.028656e+11,5.268115e+11,5.792763e+11,6.104672e+11,6.267661e+11,6.495725e+11,6.722144e+11
Greece,27,2866,2835,41662,6226,14.54,82,9.930000e+08,90.0,24.795280,3.215536e+11,3.320804e+11,3.309674e+11,3.167333e+11,2.993794e+11,2.720386e+11,2.521784e+11,2.441132e+11,2.457096e+11,2.451406e+11
Belgium,29,2697,2642,23720,3300,8.79,63,2.338000e+09,210.0,9.959739,4.626081e+11,4.783251e+11,4.818987e+11,4.708879e+11,4.835775e+11,4.922666e+11,4.930476e+11,4.930627e+11,4.994502e+11,5.063123e+11
Singapore,30,2488,2443,36098,3700,14.51,81,1.120000e+09,207.0,0.000000,1.858428e+11,2.027759e+11,2.064007e+11,2.051553e+11,2.364218e+11,2.510975e+11,2.603132e+11,2.724840e+11,2.813671e+11,2.870180e+11
Hong Kong,31,2448,2436,34453,3959,14.07,78,5.850000e+08,82.0,0.000000,2.019164e+11,2.149698e+11,2.195440e+11,2.141452e+11,2.286377e+11,2.396459e+11,2.437206e+11,2.512081e+11,2.577757e+11,2.638606e+11
Portugal,32,2443,2426,22700,3639,9.29,63,8.990000e+08,86.0,53.340300,2.347271e+11,2.405765e+11,2.410559e+11,2.338770e+11,2.383176e+11,2.339639e+11,2.245393e+11,2.220016e+11,2.240125e+11,2.272707e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,149,6,6,25,3,4.17,3,4.800000e+07,23.0,100.000000,1.771402e+09,1.855250e+09,1.961621e+09,2.027491e+09,2.187483e+09,2.276044e+09,2.389701e+09,2.496306e+09,2.587149e+09,NaN
Sierra Leone,150,5,5,18,2,3.60,1,6.700000e+07,11.0,64.024390,2.083567e+09,2.251468e+09,2.373040e+09,2.483374e+09,2.616611e+09,2.780637e+09,3.199014e+09,3.854411e+09,4.031360e+09,3.212944e+09
Swaziland,151,5,5,6,0,1.20,1,4.900000e+07,39.0,40.677970,3.233868e+09,3.347171e+09,3.426617e+09,3.469462e+09,3.527777e+09,3.574597e+09,3.682817e+09,3.791429e+09,3.884333e+09,3.948711e+09
Eritrea,152,5,5,7,1,1.40,1,3.400000e+07,7.0,0.550964,2.179437e+09,2.210534e+09,1.994277e+09,2.071585e+09,2.117040e+09,2.300794e+09,NaN,NaN,NaN,NaN
Cambodia,154,5,5,42,0,8.40,3,2.500000e+08,17.0,57.311590,9.014923e+09,9.935578e+09,1.060043e+10,1.060962e+10,1.124228e+10,1.203706e+10,1.291111e+10,1.387686e+10,1.485816e+10,1.590359e+10
New Caledonia,156,4,4,6,0,1.50,2,5.100000e+07,200.0,20.430970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Equatorial Guinea,157,4,4,19,0,4.75,2,7.300000e+07,91.0,6.363636,1.122006e+10,1.259477e+10,1.384270e+10,1.321497e+10,1.270950e+10,1.296059e+10,1.370547e+10,1.281359e+10,1.277716e+10,1.121913e+10
Honduras,158,4,4,0,0,0.00,0,2.170000e+08,28.0,37.763190,1.413979e+10,1.501480e+10,1.565017e+10,1.526961e+10,1.583934e+10,1.644689e+10,1.712593e+10,1.760401e+10,1.814714e+10,1.880683e+10
Djibouti,160,4,4,13,0,3.25,2,1.100000e+07,13.0,0.000000,9.337839e+08,9.814075e+08,1.038329e+09,1.090584e+09,1.128612e+09,1.179033e+09,1.236126e+09,1.297931e+09,1.375809e+09,NaN
Greenland,162,3,3,49,0,16.33,2,9.000000e+06,166.0,78.125000,NaN,NaN,NaN,NaN,2.287221e+09,NaN,NaN,NaN,NaN,NaN
Afghanistan,163,3,3,0,0,0.00,0,3.210000e+08,10.0,78.669280,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
Samoa,166,3,3,13,1,4.33,1,4.000000e+06,22.0,31.355930,6.393881e+08,6.798143e+08,6.866743e+08,6.536571e+08,6.567891e+08,6.947420e+08,6.975356e+08,6.840462e+08,6.922284e+08,7.035448e+08
Cayman Islands,167,2,2,2,0,1.00,1,8.000000e+06,131.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,168,2,2,13,0,6.50,1,9.000000e+06,121.0,88.695650,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
Antigua and Barbuda,169,2,2,0,0,0.00,0,8.000000e+06,84.0,0.000000,1.268714e+09,1.389229e+09,1.390217e+09,1.222890e+09,1.135539e+09,1.115174e+09,1.159999e+09,1.155982e+09,1.211723e+09,1.256122e+09
Nauru,171,2,2,0,0,0.00,0,1.000000e+06,60.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seychelles,172,2,2,7,2,3.50,1,9.000000e+06,94.0,1.977401,8.566842e+08,9.459630e+08,9.256542e+08,9.154234e+08,9.699365e+08,1.046438e+09,1.115610e+09,1.183103e+09,1.222346e+09,1.265101e+09
Mali,173,2,2,0,0,0.00,0,6.600000e+07,4.0,64.768210,7.265078e+09,7.868285e+09,8.619380e+09,9.631855e+09,1.067875e+10,1.150634e+10,1.279685e+10,1.369448e+10,1.476111e+10,1.588458e+10
Bermuda,174,2,2,12,0,6.00,1,6.000000e+06,88.0,0.000000,5.932559e+09,6.101393e+09,6.194616e+09,5.867282e+09,5.744414e+09,5.552580e+09,5.284138e+09,5.151445e+09,NaN,NaN
Chad,175,2,2,0,0,0.00,0,7.700000e+07,6.0,0.000000,8.462426e+09,8.739274e+09,9.006057e+09,9.385905e+09,1.065771e+10,1.066654e+10,1.161400e+10,1.227600e+10,1.312304e+10,1.335926e+10
Burundi,176,2,2,23,0,11.50,1,5.800000e+07,6.0,86.792450,1.714698e+09,1.796761e+09,1.887463e+09,1.952928e+09,2.026864e+09,2.111823e+09,2.196705e+09,2.297623e+09,2.404713e+09,2.343733e+09
Liberia,177,1,1,1,0,1.00,1,8.300000e+07,19.0,0.000000,9.858721e+08,1.079874e+09,1.157052e+09,1.218377e+09,1.292697e+09,1.398698e+09,1.510516e+09,1.641990e+09,1.653503e+09,1.658424e+09
Togo,178,1,1,0,0,0.00,0,1.340000e+08,19.0,80.180180,2.818834e+09,2.883398e+09,2.947568e+09,3.051036e+09,3.172946e+09,3.327905e+09,3.488321e+09,3.626731e+09,3.842067e+09,4.052431e+09
American Samoa,180,1,1,0,0,0.00,0,NaN,NaN,0.641026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gibraltar,182,1,1,0,0,0.00,0,8.000000e+06,245.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maldives,183,1,1,1,0,1.00,1,1.500000e+07,43.0,0.000000,1.862196e+09,2.063143e+09,2.320557e+09,2.192661e+09,2.323402e+09,2.525755e+09,2.588810e+09,2.710479e+09,2.886134e+09,2.929826e+09
Belize,185,1,1,6,0,6.00,1,1.300000e+07,39.0,64.690030,1.285312e+09,1.299522e+09,1.341485e+09,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09
Palau,186,1,1,0,0,0.00,0,3.000000e+06,152.0,18.750000,2.074094e+08,2.072990e+08,1.957150e+08,1.779528e+08,1.838000e+08,1.930672e+08,1.992454e+08,1.943911e+08,2.026654e+08,2.216412e+08
Guyana,187,1,1,0,0,0.00,0,3.400000e+07,45.0,0.000000,1.919759e+09,2.054533e+09,2.095143e+09,2.164673e+09,2.259288e+09,2.382129e+09,2.496863e+09,2.627240e+09,2.728150e+09,2.810153e+09
Mauritania,191,1,1,1,0,1.00,1,5.100000e+07,13.0,0.000000,4.025616e+09,4.139051e+09,4.183751e+09,4.140153e+09,4.337792e+09,4.541844e+09,4.805048e+09,5.097687e+09,5.312107e+09,NaN

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [1]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [17]:
def union_tbls(energy, GDP, ScumEn):

#     drop_lst = [str(year) for year in range(1960, 2006)]
#     GDP.drop(drop_lst, axis=1, inplace=True)
    
    union_df = pd.merge(ScimEn, pd.merge(energy,  GDP, how='outer', left_on="Country", right_on="Country Name"), 
                       how='outer', left_on='Country', right_on='Country'
                      )

    cols = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 
             'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', 
             '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

    # Using Country name as index
    union_df = union_df.set_index('Country')

    # Select columns w/ given columns labels
    union_df = union_df[cols]
    
#     # select top 15 rnked recorded
#     join_df = join_df.loc[join_df['Rank'] <= 15]
    
    return union_df

def answer_two():
    energy = load_energy()
    GDP = load_gdp()
    ScimEn = load_scimen()

    join_df = join_tbls(energy, GDP, ScimEn)
    join_rows = join_df.shape[0]
#     print(join_rows)

    union_rows = union_tbls(energy, GDP, ScimEn).shape[0]
#     print(union_rows)
    
    return (union_rows - join_rows)

# answer_two()

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [28]:
def answer_three():
    
    Top15 = answer_one()
    
    years = [str(year) for year in range(2006, 2016)]
    
    result = Top15.apply(lambda x: np.mean(x[years]), axis=1)
    
    return result

# answer_three()

Country
China                 6.348609e+12
United States         1.536434e+13
Japan                 5.542208e+12
United Kingdom        2.487907e+12
Russian Federation    1.565459e+12
Canada                1.660647e+12
Germany               3.493025e+12
India                 1.769297e+12
France                2.681725e+12
South Korea           1.106715e+12
Italy                 2.120175e+12
Spain                 1.418078e+12
Iran                  4.441558e+11
Australia             1.164043e+12
Brazil                2.189794e+12
dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [51]:
def answer_four():
    Top15 = answer_one()
    return Top15.iloc[6]['2015'] - Top15.iloc[6]['2006']

# answer_four()

352665152317.87988

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [52]:
def answer_five():
    Top15 = answer_one()
    return np.mean(Top15['Energy Supply per Capita'])

# answer_five()

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [9]:
def answer_six():
    Top15 = answer_one()
    return (Top15[Top15['% Renewable'] == Top15['% Renewable'].max()].index[0], Top15['% Renewable'].max())

# answer_six()

('Brazil', 69.648030000000006)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [18]:
def answer_seven():
    Top15 = answer_one()
    
    Top15['Citation Ratio'] = Top15['Self-citations'] / Top15['Citations']
    
#     return Top15
    return (Top15[Top15['Citation Ratio'] == Top15['Citation Ratio'].max()].index[0], Top15['Citation Ratio'].max())


# answer_seven()

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [42]:
def answer_eight():
    Top15 = answer_one()
    
    Top15['Est. Popul.'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    new = Top15.sort_values(by='Est. Popul.', ascending=False)
    
    return new.iloc[2].name

# answer_eight()

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [50]:
def answer_nine():
    Top15 = answer_one()
    
    return "ANSWER"

# answer_nine()

In [44]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [52]:
# plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!