---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [2]:
import numpy as np
import pandas as pd
import re


def energy():
  
  return energy

def load_energy():
    """
    1. energy = read "Energy Indicators.xls" 
    # note that column C has the country names 
    # with footnote numbers while column B has no footnotes
    2. if you read the C column in 1 then remove any digits in the country column
    3. replace all entries with the value '...' with np.NaN in the energy dataframe
    4. convert 'Energy Supply' column values to giga-jouls
        dicts = {"Republic of Korea": "South Korea",
               "United States of America": "United States",
               "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
               "China, Hong Kong Special Administrative Region": "Hong Kong"}
    5. replace each country in dicts's keys with the corresponding dicts value

    6. remove the part after ' (' form all countries that have paranthesis, *****make sure the result has no trailing whitespace*******

    
    
    energy DF - Energy Indicators.xls
    1. drop first 2 columns & rename column labels w/ ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    2. Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule)
    3. missing data (e.g. data with "...") make sure this is reflected as np.NaN values
    4. Rename countries:
       "Republic of Korea": "South Korea",
       "United States of America": "United States",
       "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
       "China, Hong Kong Special Administrative Region": "Hong Kong"
    5. Remove numbers and/or parenthesis from country names
    """
    # load energy DF
    df = pd.read_excel("./Energy Indicators.xls", skiprows=17)
    
    # after checking the column B, find index w/ content 'Sources:' and remove all rows it anf after
    src_idx = df.index[df['Unnamed: 1'] == 'Sources:'][0]
    df.drop([row_idx for row_idx in range(src_idx - 2, df.shape[0])], inplace=True)

    # drop first 2 column
    df.drop(df.columns[[0, 1]], axis=1, inplace=True)
    
    # replace '...' w/ np.NaN
    df.replace("...", np.NaN, inplace=True)

    # rename column labels
    col_lbl = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    df.columns = col_lbl
    
#     # drop rows for 'Country' is NaN
#     df = df[df['Country'].notnull()]

    # Convert Energy Supply to gigajoules
    df['Energy Supply'] *= 1.0e6
    df['Energy Supply per Capita'] = df['Energy Supply per Capita'].astype(np.float64)
    df['Energy Supply'] = df['Energy Supply'].astype(np.float64)
    df['% Renewable'] = df['% Renewable'].astype(np.float64)

    # remove numbers and/or parenthesis from country names
    countries_lst = list(df['Country'])
    num = re.compile("[0-9]")
    parenth = re.compile("\s(\(.+\))")
    sub_countries = {"Republic of Korea": "South Korea",
           "United States of America": "United States",
           "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
           "China, Hong Kong Special Administrative Region": "Hong Kong"}

    countries = []
    for country in countries_lst:
        country = num.sub('', country)
        country = parenth.sub('', country)
        cpuntry = country.strip()
        if country in sub_countries.keys():
            country = sub_countries[country]
        countries.append(country)

    df['Country'] = countries
    
    return df


def load_gdp():
    """
    def gdp():

      1.GDP =  read 'world_bank.csv'
      2. replace each country in dicts's keys with the corresponding dicts value
              dicts = {"Korea, Rep.": "South Korea", 
                   "Iran, Islamic Rep.": "Iran",
                   "Hong Kong SAR, China": "Hong Kong"}
      3. change column name "Country Name" to "Country"
      4. keep only the column ['Country', '2006', '2007', '2008','2009','2010', '2011','2012','2013','2014','2015']

      return GDP
    """

    df = pd.read_csv('world_bank.csv', skiprows = 4)
    sub_countries = {"Korea, Rep.": "South Korea",
                     "Iran, Islamic Rep.": "Iran",
                     "Hong Kong SAR, China": "Hong Kong"
                    }
    
    # replace country name
    df['Country Name'] = df['Country Name'].apply(
        lambda country: sub_countries[country] if country in sub_countries.keys() else country)
    
    # keep only the required columns
    cols_lbl = ['Country Name', '2006', '2007', '2008','2009','2010', '2011','2012','2013','2014','2015']
    
    df = df[cols_lbl]
    
    # rename 'Country Name' to 'Country'
    col_names = list(df.columns)
    col_names[0] = 'Country'
    df.columns = col_names

    return df#.set_index(df['Country'])

def load_scimen():
    """
    def scimen()

      1. ScimEn= read 'scimagojr-3.xlsx'

      return ScimEn
    """
    return pd.read_excel('scimagojr-3.xlsx')

def join_tbls(energy, GDP, ScimEn):
    """
    def answer_one():
        #call the function
        energy, GDP, ScimEn = energy(),gdp(),scimen()
        tdf = inner merge GDP and energy on 'Country'
        tdf = inner merge tdf and ScimEn on 'Country'
        res = get the records in tdf where the column Rank value is less or equal 15 (boolean masking)
        return res
    """   
    join_df = pd.merge(ScimEn, pd.merge(energy, GDP, left_on="Country", right_on="Country"), 
                       left_on='Country', right_on='Country'
                      )

    # Using Country name as index
    join_df = join_df.set_index('Country')

    
    return join_df

def top15():

    energy = load_energy()
    GDP = load_gdp()
    ScimEn = load_scimen()
    
    join_df = join_tbls(energy, GDP, ScimEn)
    
    top15_df = join_df.loc[join_df['Rank'] <= 15]
    
    return top15_df

def test_energy(countries):
    """
    Input: a series/ the Country column in Energy
    utf-8 encoded i.e. when reading Energy use
    encoding='utf-8'
    """
    encodedC = '11,7,7,14,7,6,8,19,9,7,5,9,7,10,7,7,10,8,7,7,6,5,7,6,7,32,22,8,6,22,17,8,12,7,10,8,8,6,14,24,4,5,5,9,42,8,7,5,12,10,13,7,4,7,6,14,37,32,7,8,8,18,7,5,11,17,7,7,8,14,16,4,7,6,13,16,5,6,7,7,5,9,6,9,7,10,4,9,8,6,13,6,5,8,7,7,5,9,4,4,7,11,6,5,7,5,6,6,10,5,8,6,10,32,6,7,7,7,5,13,9,10,10,6,8,8,4,5,16,10,10,9,6,10,8,10,10,7,10,7,7,5,5,11,13,11,9,5,7,4,24,6,4,8,5,6,16,8,4,11,6,8,11,5,11,19,7,7,18,6,12,21,11,25,32,5,21,12,7,6,10,12,9,12,8,8,15,7,12,11,5,9,18,5,8,9,6,11,20,10,8,41,11,4,5,19,7,6,12,24,6,6,7,20,14,27,13,28,7,10,7,9,8,25,5,6,8'
    outcome = ['Failed\n', 'Passed\n']
    
    
    print("\n\nEnegery Countries:\n{}\n".format(list(countries)))

    
    energy = pd.DataFrame()
    energy['original'] = pd.read_excel('Energy Indicators.xls',
                                   usecols=[1],encoding='utf-8',
                                   index_col=0).loc['Afghanistan':'Zimbabwe'].index.tolist()
    energy['tested'] = countries.str.len()
    energy['actual'] = encodedC.split(',')
    energy['actual'] = energy['actual'].astype(int)
    try:
        energy['Country'] = countries
    except Exception as e:
        print('Failed, error: ',e)
    
    res = 'Test number of records: '
    res += outcome[len(countries)==len(energy)]
    
    res += 'Test the column name: '
    res += outcome [countries.name == 'Country']
    
    res += 'Equality Test: '
    res += outcome[energy['tested'].equals(energy['actual'])]
    
    if not energy['tested'].equals(energy['actual']):
        res += '\nMismatched countries:\n'
        mismatch = energy.loc[energy['tested'] != (energy['actual']), [
            'original', 'Country', 'tested', 'actual']].values.tolist()
        res += '\n'.join('"{:}" miss-cleaned as  "{:}"'.format(o, r)
                         for o, r, s, v in mismatch)
    return res

def test_gdp(countries):
    """
    Input: a series/ the Country column in GDP
    utf-8 encoded i.e. when reading GDP use
    encoding='utf-8'
    """
    encodedC = '5,7,11,6,7,10,20,9,7,14,19,9,7,10,7,7,5,12,10,8,7,12,22,7,6,7,7,6,8,17,6,8,24,6,30,11,15,5,5,13,8,11,8,7,10,10,22,4,7,14,6,14,7,8,8,7,18,7,43,26,19,45,21,7,16,9,7,5,7,8,14,40,7,4,6,13,21,5,14,7,5,9,6,11,13,17,6,7,9,9,4,6,11,9,8,38,7,5,7,9,16,9,9,9,8,11,5,14,7,4,4,7,6,5,7,6,5,10,5,15,8,8,19,11,6,6,49,7,7,7,5,9,25,44,10,13,9,19,19,7,25,9,10,6,16,24,7,6,7,10,8,26,6,16,13,14,4,5,7,50,10,8,24,10,10,9,6,8,13,7,13,5,7,9,11,6,5,5,11,12,4,18,8,6,4,11,5,16,6,24,11,25,8,8,27,25,16,5,7,18,6,10,12,5,7,9,15,12,11,10,7,6,42,11,18,12,21,8,15,8,6,9,25,10,20,24,4,42,44,4,8,10,12,52,49,11,5,23,41,19,7,6,6,8,6,7,19,7,13,10,30,13,22,21,7,7,18,5,5,11,12,16,6,8'
    outcome = ['Failed\n', 'Passed\n']
    
    print("\n\nGDP Countries:\n{}\n".format(list(countries)))
    
    GDP = pd.DataFrame()
    GDP['original'] = pd.read_csv('world_bank.csv',
                                  usecols=[0],encoding='utf-8',
                                  index_col=0).loc['Aruba':'Zimbabwe'].index.tolist()
    GDP['tested'] = countries.str.len()
    GDP['actual'] = encodedC.split(',')
    GDP['actual'] = GDP['actual'].astype(int)
    try:
        GDP['Country'] = countries
    except Exception as e:
        print('Failed, error: ',e)
    
    res = 'Test number of records: '
    res += outcome[len(countries)==len(GDP)]
    
    res += 'Test the column name: '
    res += outcome [countries.name == 'Country']
    
    res += 'Equality Test: '
    res += outcome[GDP['tested'].equals(GDP['actual'])]
    
    if not GDP['tested'].equals(GDP['actual']):
        res += '\nMismatched countries:\n'
        mismatch = GDP.loc[GDP['tested'] != (GDP['actual']), [
            'original', 'Country', 'tested', 'actual']].values.tolist()
        res += '\n'.join('"{:}" miss-cleaned as  "{:}"'.format(o, r)
                         for o, r, s, v in mismatch)
    return res


# print(test_energy(load_energy().loc[:,'Country']))
# print()
# print(test_gdp(load_gdp()['Country']))


def answer_one():
    energy = load_energy()
    GDP = load_gdp()
    ScimEn = load_scimen()
    
    
    
    join_df = join_tbls(energy, GDP, ScimEn)
    
    top15_df = join_df.loc[join_df['Rank'] <= 15]
    
    return top15_df
#     return join_df
#     return ScimEn
#     return GDP
#     return energy

# type(answer_one())
# answer_one()#['Country'].values

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [3]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [4]:
def answer_two():
    """
    def answer_two():
        #call the function
        energy, GDP, ScimEn = energy(),gdp(),scimen()
        tdf_in = inner merge GDP and energy on 'Country'
        tdf_in = inner merge tdf_in and ScimEn on 'Country'

        tdf_out = outer merge GDP and energy on 'Country'
        tdf_out = outer merge tdf_out and ScimEn on 'Country'
        return len(tdf_out) - len(tdf_in) 
    """
    
    energy = load_energy()
    GDP = load_gdp()
    ScimEn = load_scimen()

    join_df = join_tbls(energy, GDP, ScimEn)
    join_rows = join_df.shape[0]
    print(join_df.info())

    union_df = pd.merge(ScimEn, pd.merge(energy,  GDP, how='outer', left_on="Country", right_on="Country"), 
                       how='outer', left_on='Country', right_on='Country'
                      )
    union_rows = union_df.shape[0]
    print(union_df.info())
    
#     return (union_rows - join_rows) 
    return  union_df


answer_two()

<class 'pandas.core.frame.DataFrame'>
Index: 162 entries, China to Mauritania
Data columns (total 20 columns):
Rank                        162 non-null int64
Documents                   162 non-null int64
Citable documents           162 non-null int64
Citations                   162 non-null int64
Self-citations              162 non-null int64
Citations per document      162 non-null float64
H index                     162 non-null int64
Energy Supply               161 non-null float64
Energy Supply per Capita    161 non-null float64
% Renewable                 162 non-null float64
2006                        153 non-null float64
2007                        153 non-null float64
2008                        153 non-null float64
2009                        153 non-null float64
2010                        155 non-null float64
2011                        153 non-null float64
2012                        152 non-null float64
2013                        152 non-null float64
2014                        147 non-null float64
2015                        141 non-null float64
dtypes: float64(14), int64(6)
memory usage: 26.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 318 entries, 0 to 317
Data columns (total 21 columns):
Rank                        191 non-null float64
Country                     318 non-null object
Documents                   191 non-null float64
Citable documents           191 non-null float64
Citations                   191 non-null float64
Self-citations              191 non-null float64
Citations per document      191 non-null float64
H index                     191 non-null float64
Energy Supply               222 non-null float64
Energy Supply per Capita    222 non-null float64
% Renewable                 227 non-null float64
2006                        237 non-null float64
2007                        237 non-null float64
2008                        238 non-null float64
2009                        238 non-null float64
2010                        243 non-null float64
2011                        238 non-null float64
2012                        237 non-null float64
2013                        237 non-null float64
2014                        230 non-null float64
2015                        214 non-null float64
dtypes: float64(20), object(1)
memory usage: 54.7+ KB
None

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1.0,China,127050.0,126767.0,597237.0,411683.0,4.70,138.0,1.271910e+11,93.0,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2.0,United States,96661.0,94747.0,792274.0,265436.0,8.20,230.0,9.083800e+10,286.0,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,3.0,Japan,30504.0,30287.0,223024.0,61554.0,7.31,134.0,1.898400e+10,149.0,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,4.0,United Kingdom,20944.0,20357.0,206091.0,37874.0,9.84,139.0,7.920000e+09,124.0,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,5.0,Russian Federation,18534.0,18301.0,34266.0,12422.0,1.85,57.0,3.070900e+10,214.0,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
5,6.0,Canada,17899.0,17620.0,215003.0,40930.0,12.01,149.0,1.043100e+10,296.0,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
6,7.0,Germany,17027.0,16831.0,140566.0,27426.0,8.26,126.0,1.326100e+10,165.0,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
7,8.0,India,15005.0,14841.0,128763.0,37209.0,8.58,115.0,3.319500e+10,26.0,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
8,9.0,France,13153.0,12973.0,130632.0,28601.0,9.93,114.0,1.059700e+10,166.0,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
9,10.0,South Korea,11983.0,11923.0,114675.0,22595.0,9.57,104.0,1.100700e+10,221.0,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,11.0,Italy,10964.0,10794.0,111850.0,26661.0,10.20,106.0,6.530000e+09,109.0,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
11,12.0,Spain,9428.0,9330.0,123336.0,23964.0,13.08,115.0,4.923000e+09,106.0,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,13.0,Iran,8896.0,8819.0,57470.0,19125.0,6.46,72.0,9.172000e+09,119.0,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
13,14.0,Australia,8831.0,8725.0,90765.0,15606.0,10.28,107.0,5.386000e+09,231.0,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
14,15.0,Brazil,8668.0,8596.0,60702.0,14396.0,7.00,86.0,1.214900e+10,59.0,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
15,16.0,Taiwan,6468.0,6441.0,86099.0,14768.0,13.31,102.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17.0,Turkey,5879.0,5827.0,91857.0,23165.0,15.62,104.0,4.897000e+09,64.0,...,6.680034e+11,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11
17,18.0,Norway,5675.0,5634.0,32693.0,6024.0,5.76,74.0,1.388000e+09,273.0,...,4.190512e+11,4.313284e+11,4.329860e+11,4.259607e+11,4.285247e+11,4.326762e+11,4.445694e+11,4.490094e+11,4.589539e+11,4.662883e+11
18,19.0,Netherlands,5170.0,5105.0,48351.0,6067.0,9.35,85.0,3.199000e+09,190.0,...,8.127830e+11,8.428435e+11,8.571640e+11,8.248696e+11,8.364397e+11,8.503550e+11,8.413664e+11,8.371985e+11,8.456636e+11,8.624973e+11
19,20.0,Sweden,4565.0,4494.0,57889.0,9632.0,12.68,95.0,2.044000e+09,212.0,...,4.726099e+11,4.887020e+11,4.859797e+11,4.607834e+11,4.883793e+11,5.013917e+11,4.999562e+11,5.061616e+11,5.176362e+11,5.388264e+11
20,21.0,Malaysia,3914.0,3881.0,25545.0,6597.0,6.53,62.0,3.417000e+09,116.0,...,2.163030e+11,2.299275e+11,2.410371e+11,2.373885e+11,2.550169e+11,2.685170e+11,2.832141e+11,2.965633e+11,3.143352e+11,3.299022e+11
21,22.0,Switzerland,3636.0,3599.0,38962.0,6186.0,10.72,81.0,1.113000e+09,136.0,...,5.415550e+11,5.639773e+11,5.768204e+11,5.645363e+11,5.812117e+11,5.917000e+11,5.983544e+11,6.089383e+11,6.204440e+11,6.260878e+11
22,23.0,Denmark,3531.0,3494.0,37254.0,6191.0,10.55,85.0,7.250000e+08,129.0,...,3.312336e+11,3.339644e+11,3.315667e+11,3.146968e+11,3.198110e+11,3.234957e+11,3.232585e+11,3.224704e+11,3.265397e+11,3.303882e+11
23,24.0,Mexico,3249.0,3214.0,21524.0,4145.0,6.62,57.0,7.944000e+09,64.0,...,1.002729e+12,1.034857e+12,1.049348e+12,1.000025e+12,1.051129e+12,1.093643e+12,1.137587e+12,1.152892e+12,1.178836e+12,1.208859e+12
24,25.0,Poland,3123.0,3102.0,24852.0,5395.0,7.96,55.0,4.121000e+09,107.0,...,4.041913e+11,4.332999e+11,4.502869e+11,4.621483e+11,4.792425e+11,5.032454e+11,5.111047e+11,5.175686e+11,5.345580e+11,5.540679e+11
25,26.0,Saudi Arabia,2979.0,2930.0,21208.0,2469.0,7.12,61.0,7.985000e+09,264.0,...,4.297019e+11,4.554509e+11,4.938325e+11,5.028656e+11,5.268115e+11,5.792763e+11,6.104672e+11,6.267661e+11,6.495725e+11,6.722144e+11
26,27.0,Greece,2866.0,2835.0,41662.0,6226.0,14.54,82.0,9.930000e+08,90.0,...,3.215536e+11,3.320804e+11,3.309674e+11,3.167333e+11,2.993794e+11,2.720386e+11,2.521784e+11,2.441132e+11,2.457096e+11,2.451406e+11
27,28.0,Egypt,2789.0,2752.0,19123.0,2778.0,6.86,55.0,3.422000e+09,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29.0,Belgium,2697.0,2642.0,23720.0,3300.0,8.79,63.0,2.338000e+09,210.0,...,4.626081e+11,4.783251e+11,4.818987e+11,4.708879e+11,4.835775e+11,4.922666e+11,4.930476e+11,4.930627e+11,4.994502e+11,5.063123e+11
29,30.0,Singapore,2488.0,2443.0,36098.0,3700.0,14.51,81.0,1.120000e+09,207.0,...,1.858428e+11,2.027759e+11,2.064007e+11,2.051553e+11,2.364218e+11,2.510975e+11,2.603132e+11,2.724840e+11,2.813671e+11,2.870180e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,NaN,Middle East & North Africa (excluding high inc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.136486e+12,1.208381e+12,1.253879e+12,1.293262e+12,1.362936e+12,1.354147e+12,1.392891e+12,1.405316e+12,1.427213e+12,NaN
289,NaN,North America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.636271e+13,1.665824e+13,1.663040e+13,1.616585e+13,1.658352e+13,1.687366e+13,1.724058e+13,1.750951e+13,1.793538e+13,1.834658e+13
290,NaN,OECD members,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.339004e+13,4.451769e+13,4.461085e+13,4.303201e+13,4.429111e+13,4.506605e+13,4.561621e+13,4.613450e+13,4.694534e+13,4.786845e+13
291,NaN,Other small states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.382958e+11,2.622806e+11,2.810953e+11,2.867563e+11,3.128309e+11,3.365482e+11,3.489258e+11,3.599346e+11,3.713358e+11,3.803127e+11
292,NaN,Pre-demographic dividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.841121e+11,8.407360e+11,8.977757e+11,9.421566e+11,1.001502e+12,1.046819e+12,1.102484e+12,1.163560e+12,1.215333e+12,1.253284e+12
293,NaN,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,NaN,Pacific island small states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.189290e+09,6.273189e+09,6.390598e+09,6.286423e+09,6.469972e+09,6.538484e+09,6.659805e+09,6.836458e+09,7.116203e+09,7.356703e+09
295,NaN,Post-demographic dividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.140406e+13,4.245704e+13,4.252839e+13,4.099976e+13,4.216246e+13,4.281916e+13,4.329807e+13,4.376538e+13,4.449104e+13,4.528769e+13
296,NaN,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.588121e+12,1.716564e+12,1.783227e+12,1.919371e+12,2.093719e+12,2.226077e+12,2.351842e+12,2.499225e+12,2.670483e+12,2.862660e+12
297,NaN,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,Sub-Saharan Africa (excluding high income),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.106480e+12,1.184766e+12,1.247853e+12,1.283380e+12,1.354416e+12,1.412661e+12,1.464127e+12,1.533550e+12,1.604593e+12,1.652379e+12
299,NaN,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.107337e+12,1.185713e+12,1.248779e+12,1.284295e+12,1.355385e+12,1.413707e+12,1.465242e+12,1.534734e+12,1.605815e+12,1.653644e+12
300,NaN,Small states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.034973e+11,3.294692e+11,3.492331e+11,3.525750e+11,3.789243e+11,4.033919e+11,4.166058e+11,4.285865e+11,4.410305e+11,4.510304e+11
301,NaN,Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.674943e+10,8.506480e+10,8.987328e+10,8.493801e+10,8.925444e+10,9.179099e+10,9.318927e+10,9.452000e+10,9.690371e+10,1.003874e+11
302,NaN,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,NaN,East Asia & Pacific (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.438923e+12,6.098467e+12,6.611224e+12,7.110325e+12,7.805156e+12,8.464018e+12,9.092820e+12,9.741747e+12,1.039664e+13,1.106829e+13
304,NaN,Europe & Central Asia (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.212486e+12,3.454927e+12,3.602802e+12,3.420794e+12,3.592526e+12,3.779517e+12,3.877779e+12,3.970061e+12,4.039625e+12,4.037517e+12
305,NaN,Latin America & the Caribbean (IDA & IBRD coun...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.493341e+12,4.756702e+12,4.948056e+12,4.886634e+12,5.178357e+12,5.423951e+12,5.589852e+12,5.751559e+12,5.808023e+12,5.753132e+12
306,NaN,Middle East & North Africa (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.128451e+12,1.200513e+12,1.246733e+12,1.284551e+12,1.354033e+12,1.344512e+12,1.381807e+12,1.394728e+12,1.416758e+12,NaN
307,NaN,South Asia (IDA & IBRD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.588121e+12,1.716564e+12,1.783227e+12,1.919371e+12,2.093719e+12,2.226077e+12,2.351842e+12,2.499225e+12,2.670483e+12,2.862660e+12
308,NaN,Sub-Saharan Africa (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.107337e+12,1.185713e+12,1.248779e+12,1.284295e+12,1.355385e+12,1.413707e+12,1.465242e+12,1.534734e+12,1.605815e+12,1.653644e+12
309,NaN,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.209926e+13,1.319424e+13,1.398552e+13,1.423007e+13,1.530029e+13,1.623576e+13,1.706156e+13,1.786328e+13,1.856972e+13,1.912141e+13
310,NaN,St. Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.857344e+08,6.746459e+08,7.200629e+08,7.049483e+08,6.812260e+08,6.783400e+08,6.877044e+08,6.991892e+08,7.037801e+08,7.139983e+08
311,NaN,"Venezuela, RB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.606999e+11,3.922741e+11,4.129777e+11,3.997529e+11,3.938015e+11,4.102483e+11,4.333287e+11,4.391487e+11,4.220465e+11,3.979899e+11
312,NaN,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.130761e+10,9.781739e+10,1.033556e+11,1.089346e+11,1.159317e+11,1.231662e+11,1.296292e+11,1.366576e+11,1.448347e+11,1.545086e+11
314,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.016675e+09,7.878227e+09,7.201473e+09,8.709518e+09,8.913100e+09,9.611505e+09,1.100864e+10,1.053747e+10,1.042246e+10,1.171414e+10
315,NaN,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.023536e+13,6.282865e+13,6.398692e+13,6.291271e+13,6.564782e+13,6.770244e+13,6.937886e+13,7.104232e+13,7.291072e+13,7.470901e+13
316,NaN,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
317,NaN,"Congo, Dem. Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [5]:
def answer_three():
    
    Top15 = answer_one()
    
    years = [str(year) for year in range(2006, 2016)]
    
    result = Top15.apply(lambda x: np.mean(x[years]), axis=1)
    
    return result

# answer_three()

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [6]:
def answer_four():
    Top15 = answer_one()
    
    cols = [str(year) for year in range(2006, 2016)]
    
    Top15['Avg. GDP'] = Top15.apply(lambda x: np.mean(x[cols]), axis=1)
    
    Top15.sort_values(by='Avg. GDP', ascending=False, inplace=True)
    
    return Top15.iloc[5]['2015'] - Top15.iloc[5]['2006']

# answer_four()

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [7]:
def answer_five():
    Top15 = answer_one()
    return np.mean(Top15['Energy Supply per Capita'])

# answer_five()

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [8]:
def answer_six():
    Top15 = answer_one()
    return (Top15[Top15['% Renewable'] == Top15['% Renewable'].max()].index[0], Top15['% Renewable'].max())

# answer_six()

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [9]:
def answer_seven():
    Top15 = answer_one()
    
    Top15['Citation Ratio'] = Top15['Self-citations'] / Top15['Citations']
    
#     return Top15
    return (Top15[Top15['Citation Ratio'] == Top15['Citation Ratio'].max()].index[0], Top15['Citation Ratio'].max())


# answer_seven()

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [10]:
def answer_eight():
    Top15 = answer_one()
    
    Top15['Est. Popul.'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    new = Top15.sort_values(by='Est. Popul.', ascending=False)
    
    return new.iloc[2].name

# answer_eight()

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [14]:
def answer_nine():
    Top15 = answer_one()
    
    Top15['Est. Popul.'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['Est. Popul.']
    
    
    return Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])

# answer_nine()

0.79400104354429457

In [15]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [17]:
# plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [30]:
def answer_ten():
    Top15 = answer_one()
    
    Top15['HighRenew'] = Top15['% Renewable'] >= Top15['% Renewable'].median()
    
    Top15.sort_index(inplace=True)
    
    return Top15['HighRenew']

# answer_ten()

pandas.core.series.Series

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [57]:
def answer_eleven():
    Top15 = answer_one()
    
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    Top15['Est. Popul.'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    Top15['Continent'] = Top15.apply(lambda row: ContinentDict[row.name], axis=1)
    
    continent = Top15.groupby('Continent')['Est. Popul.'].agg(
        {'size': len, 'sum': np.sum, 'mean': np.mean, 'std': np.std})
    
    return continent

# answer_eleven()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

               size           sum          mean           std
Continent
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [74]:
def answer_twelve():
    Top15 = answer_one()
    
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    Top15['Continent'] = Top15.apply(lambda row: ContinentDict[row.name], axis=1)
    
    contient_renew = Top15.groupby(['Continent', pd.cut(Top15['% Renewable'], 5)]).size()

    
    return contient_renew

# answer_twelve()

Continent      % Renewable
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [80]:
def answer_thirteen():
    Top15 = answer_one()
    
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    Top15['PopEst'] = Top15['PopEst'].map('{:,}'.format)

    return Top15['PopEst']

# answer_thirteen()

Country
China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Name: PopEst, dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!