---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [ ]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 
          'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 
          'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 
          'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 
          'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 
          'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 
          'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 
          'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 
          'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 
          'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 
          'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 
          'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 
          'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 
          'ND': 'North Dakota', 'VA': 'Virginia'}

In [ ]:
import re

def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    ''' read university_towns.txt file
    1. the line end with '[edit]' is the Name of State
    2. the followed lines are the college towns in the state
    Function get_list_of_university_towns was answered incorrectly, 0.1 points were not awarded. 
    ''' 
    state_p = re.compile(r"\[edit\]")
    region_p1 = re.compile(r"\s\(")  # regular cases 
    region_p2 = re.compile(r":$")            # end with ':'
    with open('university_towns.txt', encoding='utf-8') as fd:
        lines = fd.readlines()
        
        state_region = []
        cnt = 0
        for line in lines:
            line = line.rstrip()
            if '[edit]' in line: 
                # extract state info
                state = re.sub(state_p, "", line)
            else: 
                # extract region info
                region = None
                if ' (' in line:
                    # strip from " (" to end of line w/ position index
                    region = line[0:re.search(region_p1, line).start()]
#                 elif ':' in line:
#                     # strip from ":" to end of line
#                     region = line[0:re.search(region_p2, line).start() + 1]
                else: 
                    region = line[0:]
                    
#                 if cnt in [179, 184]:
#                     print("line({}): {} w/ len= {} --> [{}, {}]".format(cnt, line, len(line), state, region))
#                 cnt += 1
                state_region.append([state, region])
    
    df = pd.DataFrame(state_region, columns=["State", "RegionName"]  )
    
    return df


# get_list_of_university_towns()

In [ ]:
import re
import pandas as pd
import numpy as np

def test():
    # list of unique states
    stateStr = """
    Ohio, Kentucky, American Samoa, Nevada, Wyoming
    ,National, Alabama, Maryland, Alaska, Utah
    ,Oregon, Montana, Illinois, Tennessee, District of Columbia
    ,Vermont, Idaho, Arkansas, Maine, Washington
    ,Hawaii, Wisconsin, Michigan, Indiana, New Jersey
    ,Arizona, Guam, Mississippi, Puerto Rico, North Carolina
    ,Texas, South Dakota, Northern Mariana Islands, Iowa, Missouri
    ,Connecticut, West Virginia, South Carolina, Louisiana, Kansas
    ,New York, Nebraska, Oklahoma, Florida, California
    ,Colorado, Pennsylvania, Delaware, New Mexico, Rhode Island
    ,Minnesota, Virgin Islands, New Hampshire, Massachusetts, Georgia
    ,North Dakota, Virginia
    """
    #list of regionName entries string length
    regNmLenStr = """
    06,08,12,10,10,04,10,08,09,09,05,06,11,06,12,09,08,10,12,06,
    06,06,08,05,09,06,05,06,10,28,06,06,09,06,08,09,10,35,09,15,
    13,10,07,21,08,07,07,07,12,06,14,07,08,16,09,10,11,09,10,06,
    11,05,06,09,10,12,06,06,11,07,08,13,07,11,05,06,06,07,10,08,
    11,08,13,12,06,04,08,10,08,07,12,05,06,09,07,10,16,10,06,12,
    08,07,06,06,06,11,14,11,07,06,06,12,08,10,11,06,10,14,04,11,
    18,07,07,08,09,06,13,11,12,10,07,12,07,04,08,09,09,13,08,10,
    16,09,10,08,06,08,12,07,11,09,07,09,06,12,06,09,07,10,09,10,
    09,06,15,05,10,09,11,12,10,10,09,13,06,09,11,06,11,09,13,37,
    06,13,06,09,49,07,11,12,09,11,11,07,12,10,06,06,09,04,09,15,
    10,12,05,09,08,09,09,07,14,06,07,16,12,09,07,09,06,32,07,08,
    08,06,10,36,09,10,09,06,09,11,09,06,10,07,14,08,07,06,10,09,
    05,11,07,06,08,07,05,07,07,04,06,05,09,04,25,06,07,08,05,08,
    06,05,11,09,07,07,06,13,09,05,16,05,10,09,08,11,06,06,06,10,
    09,07,06,07,10,05,08,07,06,08,06,30,09,07,06,11,07,12,08,09,
    16,12,11,08,06,04,10,10,15,05,11,11,09,08,06,04,10,10,07,09,
    11,08,26,07,13,05,11,03,08,07,06,05,08,13,10,08,08,08,07,07,
    09,05,04,11,11,07,06,10,11,03,04,06,06,08,08,06,10,09,05,11,
    07,09,06,12,13,09,10,11,08,07,07,08,09,10,08,10,08,56,07,12,
    07,16,08,04,10,10,10,10,07,09,08,09,09,10,07,09,09,09,12,14,
    10,29,19,07,11,12,13,13,09,10,12,12,12,08,10,07,10,07,07,08,
    08,08,09,10,09,11,09,07,09,10,11,11,10,09,09,12,09,06,08,07,
    12,09,07,07,06,06,08,06,15,08,06,06,10,10,10,07,05,10,07,11,
    09,12,10,12,04,10,05,05,04,14,07,10,09,07,11,10,10,10,11,15,
    09,14,12,09,09,07,12,04,10,10,06,10,07,28,06,10,08,09,10,10,
    10,13,12,08,10,09,09,07,09,09,07,11,11,13,08,10,07
    """

    df = get_list_of_university_towns()

    cols = ["State", "RegionName"]

    print('Shape test: ', "Passed" if df.shape ==
          (517, 2) else 'Failed')
    print('Index test: ',
          "Passed" if df.index.tolist() == list(range(517))
          else 'Failed')

    print('Column test: ',
          "Passed" if df.columns.tolist() == cols else 'Failed')
    print('\\n test: ',
          "Failed" if any(df[cols[0]].str.contains(
              '\n')) or any(df[cols[1]].str.contains('\n'))
          else 'Passed')
    print('Trailing whitespace test:',
          "Failed" if any(df[cols[0]].str.contains(
              '\s+$')) or any(df[cols[1]].str.contains(
                  '\s+$'))
          else 'Passed')
    print('"(" test:',
          "Failed" if any(df[cols[0]].str.contains(
              '\(')) or any(df[cols[1]].str.contains(
                  '\('))
          else 'Passed')
    print('"[" test:',
          "Failed" if any(df[cols[0]].str.contains(
              '\[')) or any(df[cols[1]].str.contains(
                  '\]'))
          else 'Passed')

    states_vlist = [st.strip() for st in stateStr.split(',')]

    mismatchedStates = df[~df['State'].isin(
        states_vlist)].loc[:, 'State'].unique()
    print('State test: ', "Passed" if len(
        mismatchedStates) == 0 else "Failed")
    if len(mismatchedStates) > 0:
        print()
        print('The following states failed the equality test:')
        print()
        print('\n'.join(mismatchedStates))

    df['expected_length'] = [int(s.strip())
                             for s in regNmLenStr.split(',')
                             if s.strip().isdigit()]
    regDiff = df[df['RegionName'].str.len() != df['expected_length']].loc[
        :, ['RegionName', 'expected_length']]
    regDiff['actual_length'] = regDiff['RegionName'].str.len()
    print('RegionName test: ', "Passed" if len(regDiff) ==
          0 else ' \nMismatching regionNames\n {}'.format(regDiff))
    
test()

In [16]:
import re
import pandas as pd
import numpy as np

pd.set_option("display.max_rows", 500)

def load_gdp_quarter():
    df = pd.read_excel("gdplev.xls", skiprows=5)
    
    # delete rows and starts from 2000q1
    df = df.iloc[214:]
    
    # remove unnecessary columns
    cols = ["Unnamed: 4", "GDP in billions of current dollars.1", 'GDP in billions of chained 2009 dollars.1']
    col_lbl = {"Unnamed: 4": 'Quarter', "GDP in billions of current dollars.1": "GDP1", 
               'GDP in billions of chained 2009 dollars.1': "GDP"}
    df = df[cols]
    
    df.rename(index=str, columns=col_lbl, inplace=True)
    df.index = [idx for idx in range(len(df))]
    
    return df
    
def quarter_diff(df):
    
    gdp = df['GDP']
    
    gdp_diff = []
    for idx, val in enumerate(gdp.values):
        if idx == 0:
            gdp_diff.append(np.NaN)
        else:
            gdp_diff.append(val - gdp.values[idx - 1])
            
    df['Diff'] = pd.Series(gdp_diff)
    
    return df

def recession_assign(df, debug = False):
    """
    Return a dataframe w/ recession column
    """
    neg_cnt, pos_cnt = 0, 0
    res_mask = []
    recession = False
    for val in df['Diff'].values:
        
        if debug:
            print("Value= {:8.2f}".format(val), end=" ")
            
        if np.isnan(val):
            res_mask.append(np.NaN)
            if debug:
                print("0 - rec= {:5s} neg_cnt= {} pos_cnt= {} res_mask({:3d})= {}".format(
                    str(recession), neg_cnt, pos_cnt, len(res_mask)-1, res_mask[-2:]))
            continue

        if recession:                               # recession = True
            if val < 0:                             # recession continued
                neg_cnt, pos_cnt = 0, 0             # reset counters
                res_mask.append(True)
                if debug:
                    print("1 - rec= {:5s} neg_cnt= {} pos_cnt= {} res_mask({:3d})= {}".format(
                        str(recession), neg_cnt, pos_cnt, len(res_mask)-1, res_mask[-2:]))
            elif (val > 0 and pos_cnt == 0):          # possible end of recession starts
                pos_cnt += 1
                neg_cnt = 0
                res_mask.append(True)
                if debug:
                    print("2 - rec= {:5s} neg_cnt= {} pos_cnt= {} res_mask({:3d})= {}".format(
                        str(recession), neg_cnt, pos_cnt, len(res_mask)-1, res_mask[-2:]))
            elif (val > 0 and pos_cnt == 1):          # end of recession ensure
                pos_cnt, neg_cnt = 0, 0
                res_mask.append(True)
                recession = False
                if debug:
                    print("3 - rec= {:5s} neg_cnt= {} pos_cnt= {} res_mask({:3d})= {}".format(
                        str(recession), neg_cnt, pos_cnt, len(res_mask)-1, res_mask[-2:]))
            else: 
                # should not be here - for warning purpose
                print("1 - Rec= {:5s} val= {} pos_cnt= {} neg_cnt= {:3d}".format(
                        recession, val, pos_cnt, neg_cnt))
                exit(1)
        else:                                      # recession = False
            if val > 0:                            # regular period continued
                neg_cnt, pos_cnt = 0, 0
                res_mask.append(False)
                if debug:
                    print("4 - rec= {:5s} neg_cnt= {} pos_cnt= {} res_mask({:3d})= {}".format(
                        str(recession), neg_cnt, pos_cnt, len(res_mask)-1, res_mask[-2:]))
            elif (val < 0 and neg_cnt == 0):         # possible start of recession
                neg_cnt += 1
                pos_cnt = 0
                res_mask.append(False)
                if debug:
                    print("5 - rec= {:5s} neg_cnt= {} pos_cnt= {} res_mask({:3d})= {}".format(
                        str(recession), neg_cnt, pos_cnt, len(res_mask)-1, res_mask[-2:]))
            elif (val < 0 and neg_cnt == 1):         # ensure resession start
                neg_cnt, pos_cnt = 0, 0
                res_mask[-1] = True
                res_mask.append(True)
                recession = True
                if debug:
                    print("6 - rec= {:5s} neg_cnt= {} pos_cnt= {} res_mask({:3d})= {}".format(
                        str(recession), neg_cnt, pos_cnt, len(res_mask)-1, res_mask[-2:]))
            else: 
                # should not be here - for warning purpose
                print("2 - Rec= {:5s} val= {} pos_cnt= {} neg_cnt= {}".format(
                        recession, val, pos_cnt, neg_cnt))
                exit(1)
        
#     print(res_mask)
        
    df['Recession'] = pd.Series(res_mask)
    
    df.index = df['Quarter']
    
    return df

def recession_start_end(df):
    start, end, bottom = [], [], []
    
    match = [idx for idx, val in enumerate(df['Recession']) if val == True]
    
    for idx, val in enumerate(match):
        if (idx == 0):
            start.append(df.iloc[val].name)
        elif (idx == len(match) - 1):
            end.append(df.iloc[val].name)
            bottom.append(df.iloc[val-2].name)
        elif val > match[idx - 1] + 1:
            end.append(df.iloc[match[idx-1]].name)
            bottom.append(df.iloc[match[idx-3].name])
            start.append(df.iloc[val].name)
                
    print("Match: {}, start= {} end= {} bottom= {}".format(match))
    
    return start, end, bottom
    
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    df = load_gdp_quarter()
    df = quarter_diff(df)
    df = recession_assign(df, debug=False)
    
    start, end, bottom = recession_start_end(df)

#     return start[0]
    return df

# load_gdp()
get_recession_start()

Match: [34, 35, 36, 37, 38, 39]

        Quarter     GDP1      GDP   Diff Recession
Quarter
2000q1   2000q1  10031.0  12359.1    NaN       NaN
2000q2   2000q2  10278.3  12592.5  233.4     False
2000q3   2000q3  10357.4  12607.7   15.2     False
2000q4   2000q4  10472.3  12679.3   71.6     False
2001q1   2001q1  10508.1  12643.3  -36.0     False
2001q2   2001q2  10638.4  12710.3   67.0     False
2001q3   2001q3  10639.5  12670.1  -40.2     False
2001q4   2001q4  10701.3  12705.3   35.2     False
2002q1   2002q1  10834.4  12822.3  117.0     False
2002q2   2002q2  10934.8  12893.0   70.7     False
2002q3   2002q3  11037.1  12955.8   62.8     False
2002q4   2002q4  11103.8  12964.0    8.2     False
2003q1   2003q1  11230.1  13031.2   67.2     False
2003q2   2003q2  11370.7  13152.1  120.9     False
2003q3   2003q3  11625.1  13372.4  220.3     False
2003q4   2003q4  11816.8  13528.7  156.3     False
2004q1   2004q1  11988.4  13606.5   77.8     False
2004q2   2004q2  12181.4  13706.2   99.7     False
2004q3   2004q3  12367.7  13830.8  124.6     False
2004q4   2004q4  12562.2  13950.4  119.6     False
2005q1   2005q1  12813.7  14099.1  148.7     False
2005q2   2005q2  12974.1  14172.7   73.6     False
2005q3   2005q3  13205.4  14291.8  119.1     False
2005q4   2005q4  13381.6  14373.4   81.6     False
2006q1   2006q1  13648.9  14546.1  172.7     False
2006q2   2006q2  13799.8  14589.6   43.5     False
2006q3   2006q3  13908.5  14602.6   13.0     False
2006q4   2006q4  14066.4  14716.9  114.3     False
2007q1   2007q1  14233.2  14726.0    9.1     False
2007q2   2007q2  14422.3  14838.7  112.7     False
2007q3   2007q3  14569.7  14938.5   99.8     False
2007q4   2007q4  14685.3  14991.8   53.3     False
2008q1   2008q1  14668.4  14889.5 -102.3     False
2008q2   2008q2  14813.0  14963.4   73.9     False
2008q3   2008q3  14843.0  14891.6  -71.8      True
2008q4   2008q4  14549.9  14577.0 -314.6      True
2009q1   2009q1  14383.9  14375.0 -202.0      True
2009q2   2009q2  14340.4  14355.6  -19.4      True
2009q3   2009q3  14384.1  14402.5   46.9      True
2009q4   2009q4  14566.5  14541.9  139.4      True
2010q1   2010q1  14681.1  14604.8   62.9     False
2010q2   2010q2  14888.6  14745.9  141.1     False
2010q3   2010q3  15057.7  14845.5   99.6     False
2010q4   2010q4  15230.2  14939.0   93.5     False
2011q1   2011q1  15238.4  14881.3  -57.7     False
2011q2   2011q2  15460.9  14989.6  108.3     False
2011q3   2011q3  15587.1  15021.1   31.5     False
2011q4   2011q4  15785.3  15190.3  169.2     False
2012q1   2012q1  15973.9  15291.0  100.7     False
2012q2   2012q2  16121.9  15362.4   71.4     False
2012q3   2012q3  16227.9  15380.8   18.4     False
2012q4   2012q4  16297.3  15384.3    3.5     False
2013q1   2013q1  16475.4  15491.9  107.6     False
2013q2   2013q2  16541.4  15521.6   29.7     False
2013q3   2013q3  16749.3  15641.3  119.7     False
2013q4   2013q4  16999.9  15793.9  152.6     False
2014q1   2014q1  17025.2  15747.0  -46.9     False
2014q2   2014q2  17285.6  15900.8  153.8     False
2014q3   2014q3  17569.4  16094.5  193.7     False
2014q4   2014q4  17692.2  16186.7   92.2     False
2015q1   2015q1  17783.6  16269.0   82.3     False
2015q2   2015q2  17998.3  16374.2  105.2     False
2015q3   2015q3  18141.9  16454.9   80.7     False
2015q4   2015q4  18222.8  16490.7   35.8     False
2016q1   2016q1  18281.6  16525.0   34.3     False
2016q2   2016q2  18450.1  16583.1   58.1     False

In [11]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''

    df = load_gdp_quarter()
    df = quarter_diff(df)
    df = recession_assign(df, debug=False)
    
    start, end, bottom = recession_start_end(df)

    return end[0]

# get_recession_end()

In [12]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''

    df = load_gdp_quarter()
    df = quarter_diff(df)
    df = recession_assign(df, debug=False)
    
    start, end, bottom = recession_start_end(df)
    
    print(bottom)

    return bottom[0]

get_recession_bottom()

Match: [34, 35, 36, 37, 38, 39]
[]

IndexError: list index out of range

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"