---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [11]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [39]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [4]:
def answer_one():
    return (df[df['Gold'] == (df['Gold'].max())].index)[0]

# answer_one()

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [5]:
def answer_two():
    return (df[abs(df['Gold'] - df['Gold.1']) == (abs(df['Gold'] - df['Gold.1'])).max()].index)[0]

# answer_two()

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [52]:
def answer_three():
#     df1 = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
#     return df1[(abs(df1['Gold'] - df1['Gold.1']) / df1['Gold.2']).max() 
#                == (abs(df1['Gold'] - df1['Gold.1']) / df1['Gold.2'])].index[0]

    country = None
    max_ratio = 0
    for idx in range(len(df)):
        if ((df.iloc[idx]['Gold'] > 0) and 
                (df.iloc[idx]['Gold.1'] > 0) and 
                (abs(df.iloc[idx]['Gold'] - df.iloc[idx]['Gold.1']) / df.iloc[idx]['Gold.2'] > max_ratio)):
            country = idx
            max_ratio = abs(df.iloc[idx]['Gold'] - df.iloc[idx]['Gold.1']) / df.iloc[idx]['Gold.2']
#             print("country: {} w/ ratio= {} summer={} winter={}".format(df.iloc[country].name, max_ratio, df.iloc[country]['Gold'], df.iloc[country]['Gold.1']))
    return df.iloc[country].name

# answer_three()

# print("end -- country: {} w/ ratio= {} summer={} winter={}".format(df.iloc[country].name, max_ratio, df.iloc[country]['Gold'], df.iloc[country]['Gold.1']))
# print(df.head())

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [121]:
def answer_four():
    return pd.Series({df.index[i]: 
                      (df.iloc[i]['Gold.2'] * 3 
                       + df.iloc[i]['Silver.2'] * 2  
                       + df.iloc[i]['Bronze.2']) for i in range(len(df))}, index=df.index)

# answer_four()

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [56]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [61]:
def answer_five():

    county_num = []
    for state in census_df['STATE'].unique():
        county_num.append((state, len(census_df[(census_df['SUMLEV'] == 50) & (census_df['STATE'] == state)])))
    
#     print(county_num)
#     state = max(county_num, key=lambda x: x[1])[0]
#     print(census_df[(census_df['STATE'] == state) & (census_df['SUMLEV'] == 50)])
    return ((census_df[census_df['STATE'] == max(county_num, key=lambda x: x[1])[0]])['STNAME'].unique()[0])

# answer_five()
# census_df['STATE'].unique()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [70]:
def answer_six():
    return list(census_df.sort_values(by='CENSUS2010POP', ascending=False)[census_df['SUMLEV'] == 40].head(3)['STNAME'].values)

answer_six()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

['California', 'Texas', 'New York']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [233]:
def answer_seven():
    
    county_df = census_df[census_df['SUMLEV'] == 50]
    pop_by_years = county_df[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']].values

    pop_diff = []
    for idx, vals in enumerate(pop_by_years):
        pop_diff.append((idx, max(vals) - min(vals)))
        
    return county_df.iloc[max(pop_diff, key=lambda x: x[1])[0]]['CTYNAME']

# answer_seven()

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [274]:
def answer_eight():
    reg_df = census_df[(census_df['SUMLEV'] == 50) & 
              ((census_df['REGION'] == 1) | 
               (census_df['REGION'] == 2))]

    washington_lst = []
    for idx in range(len(reg_df)):
        if 'Washington' in reg_df.iloc[idx]['CTYNAME']:
            washington_lst.append(idx)

    popest45_df = (reg_df.iloc[washington_lst])[(reg_df.iloc[washington_lst])['POPESTIMATE2015'] > (reg_df.iloc[washington_lst])['POPESTIMATE2014']]

    return pd.DataFrame({'STNAME': list(popest45_df['STNAME'].values), 'CTYNAME': list(popest45_df['CTYNAME'].values)})

# answer_eight()

             CTYNAME        STNAME
0  Washington County          Iowa
1  Washington County     Minnesota
2  Washington County  Pennsylvania
3  Washington County  Rhode Island
4  Washington County     Wisconsin